{% extends 'navbarLoggedIn.html' %}
{% block content %}
<br>
<div class="flex-center-elements">
    <section class="pb-5 mb-5 pt-5">
        <div class="container">
          <div class="row text-center row-cols-1 row-cols-lg-2 g-4">
            <div class="col">
                <a type="button" class="btn btn-secondary btn-sq-responsive px-5 py-2" data-bs-theme="dark">ASL 1</a>
            </div>
            <div class="col">
              <a type="button" class="btn btn-secondary btn-sq-responsive px-5 py-2" data-bs-theme="dark">ASL 2</a>
            </div>
            <div class="col">
              <a type="button" class="btn btn-secondary btn-sq-responsive px-5 py-2" data-bs-theme="dark">ASL 3</a>
            </div>
            <div class="col">
              <a type="button" class="btn btn-secondary btn-sq-responsive px-5 py-2" data-bs-theme="dark">ASL 4</a>
            </div>
          </div>
        </div>
      </section>
</div>
{% endblock %}