{% extends 'navbarLoggedIn.html' %}
{% block content %}

<p class="text-center"><strong>What class needs flashcard deck?</strong></p> 
<section>              
  <div class="form-check mb-2">
    <input class="form-check-input" type="radio" name="Class" value="ASL1" id="radio3Example1" />
    <label class="form-check-label" for="radio3Example1">
      ASL 1
    </label>
  </div>
  <div class="form-check mb-2">
    <input class="form-check-input" type="radio" name="Class" value="ASL2" id="radio3Example2" />
    <label class="form-check-label" for="radio3Example2">
      ASL 2
    </label>
  </div>
  <div class="form-check mb-2">
    <input class="form-check-input" type="radio" name="Class" value="ASL3" id="radio3Example3" />
    <label class="form-check-label" for="radio3Example3">
      ASL 3
    </label>
  </div>
  <div class="form-check mb-2">
    <input class="form-check-input" type="radio" name="Class" value="ASL4" id="radio3Example4" />
    <label class="form-check-label" for="radio3Example4">
      ASL 4
    </label>
  </div>
</section> 

<section>
  <form action="" enctype="" method="POST">
    <input type="file" name="pic" />
    <input type="submit" value="upload">
  </form>
</section>

{% endblock %}