{% extends 'navbarLoggedIn.html' %}
{% block content %}
<br>
<div class="flex-center-elements">
    <section class="pb-5 mb-5 pt-5">
        <div class="container">
          <div class="row text-center row-cols-1 row-cols-lg-2 g-4">
            {# {%for Card in set %} #}
            <div class="col">
                <a type="button" class="btn btn-secondary btn-sq-responsive px-5 py-2" data-bs-theme="dark">{# {% Card %} #}</a>
            </div>
            {# {%endfor%}#}
          </div>
        </div>
      </section>
</div>
{% endblock %}