{% if email %}
    {% extends 'navbarLoggedIn.html' %}
{% else %}
    {% extends 'navbarNotLoggedIn.html' %}
{% endif %}

{% block content %}
<br>
<div class="flex-center-elements">
    <h1>Welcome to the ASL app! This is the home page.</h1>
</div>
<br>
<div class="flex-center-elements">
    {% if email %}
        <h3>You are logged in as {{ email }}</h3>
    {% else %}
        <h3>You have not logged in</h3>
    {% endif %}
</div>
<br>
<br>
<h3 class="flex-center-elements">These are all of the current users in the database:</h3>
<div class="flex-center-elements">
    <ul>
        {% for user in usersInDatabase %}
            <li><h4>| email: {{ user.email }} | password: {{ user.password }} |</h4></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}