<!--check if user has logged in and if teacher or student in order to display appropriate navbar-->
{% if email %}
    {% if session["isTeacher"] %}
        {% extends 'navbarLoggedInTeacher.html' %}
    {% else %}
        {% extends 'navbarLoggedIn.html' %}
    {% endif %}
{% else %}
    {% extends 'navbarNotLoggedIn.html' %}
{% endif %}

{% block content %}
<br>
<div class="flex-center-elements">
    <h1>Welcome to the ASL app! This is the home page.</h1>
</div>
<br>
<div class="flex-center-elements">
    {% if email %}
        <h3>You are logged in as {{ email }}</h3>
    {% else %}
        <h3>You have not logged in</h3>
    {% endif %}
</div>
{% endblock %}