{% extends 'navbarNotLoggedIn.html' %}
{% block content %}
<br>
<br>
<div class="flex-center-elements">
    <form class="container login-form-width" action="{{ url_for('signupResponse') }}" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" value="{{ email }}">
        </div>
        <div>
            <label for="exampleSelector1" class="form-label">Class Number</label>
            <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="classNumber" value="{{ classNumber }}">
                    <option value="1">ASL_1</option>
                    <option value="2">ASL_2</option>
                    <option value="3">ASL_3</option>
                    <option value="4">ASL_4</option>  
                </select>
            </div>
        </div>
        <div>
            <label for="exampleSelector2" class="form-label">Account Type</label>
            <div class="input-group mb-3">
                <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon" name="accountType" value="{{ accountType }}">
                    <option value="0">Student</option>
                    <option value="1">Teacher</option> 
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" value="{{ password }}">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="passwordVerify" value="{{ passwordVerify }}">
        <div id="passwordHelpBlock" class="form-text">
            Your password must be atleast 8 characters long, contain letters and numbers, and must not contain spaces.
        </div>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-warning long-button button-customization">Submit</button>
        </div>
    </form>
</div>
<br>
{% if blankInputError %}
<div class="flex-center-elements">
    <div class="flex-center-elements login-form-width alert alert-danger alert-dismissible fade show" role="alert">
        <span>{{ blankInputError }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
{% if passwordMismatchError %}
<div class="flex-center-elements">
    <div class="flex-center-elements login-form-width alert alert-danger alert-dismissible fade show" role="alert">
        <span>{{ passwordMismatchError }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
{% endblock %}